wsdl/CashierService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CashierService" targetNamespace="http://logika/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://logika/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://logika/" schemaLocation="CashierService_schema1.xsd"></import>
</schema>
  </wsdl:types>
  <wsdl:message name="discountCart">
    <wsdl:part name="parameters" element="tns:discountCart">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMostExpensiveProductResponse">
    <wsdl:part name="parameters" element="tns:getMostExpensiveProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMostExpensiveProduct">
    <wsdl:part name="parameters" element="tns:getMostExpensiveProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCartValueResponse">
    <wsdl:part name="parameters" element="tns:getCartValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCartValue">
    <wsdl:part name="parameters" element="tns:getCartValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoCartException">
    <wsdl:part name="NoCartException" element="tns:NoCartException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="discountCartResponse">
    <wsdl:part name="parameters" element="tns:discountCartResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Cashier">
    <wsdl:operation name="getCartValue">
      <wsdl:input name="getCartValue" message="tns:getCartValue">
    </wsdl:input>
      <wsdl:output name="getCartValueResponse" message="tns:getCartValueResponse">
    </wsdl:output>
      <wsdl:fault name="NoCartException" message="tns:NoCartException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="discountCart">
      <wsdl:input name="discountCart" message="tns:discountCart">
    </wsdl:input>
      <wsdl:output name="discountCartResponse" message="tns:discountCartResponse">
    </wsdl:output>
      <wsdl:fault name="NoCartException" message="tns:NoCartException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMostExpensiveProduct">
      <wsdl:input name="getMostExpensiveProduct" message="tns:getMostExpensiveProduct">
    </wsdl:input>
      <wsdl:output name="getMostExpensiveProductResponse" message="tns:getMostExpensiveProductResponse">
    </wsdl:output>
      <wsdl:fault name="NoCartException" message="tns:NoCartException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CashierServiceSoapBinding" type="tns:Cashier">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCartValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCartValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCartValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoCartException">
        <soap:fault name="NoCartException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="discountCart">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="discountCart">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="discountCartResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoCartException">
        <soap:fault name="NoCartException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMostExpensiveProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMostExpensiveProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMostExpensiveProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoCartException">
        <soap:fault name="NoCartException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CashierService">
    <wsdl:port name="CashierPort" binding="tns:CashierServiceSoapBinding">
      <soap:address location="http://localhost:8080/SRI4/Cashier"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
